@media (max-width:1024px){
    .downicon{
        width: 5.5vw;
        height: 11.5vh;
    }
    .downicon span{
        left: 10.5px;
        top: 11.5px;
        font-size: 2.9vw;
    }
    .outer button{
        padding: 1.2vw 1.5vw;
        font-size: 1.7vw;
    }
}
@media (max-width:768px)
{
    .downicon{
        width: 45px;
        height: 45px;
    }
    .downicon span{
        left: 9.6px;
        top: 11px;
        font-size: 3vw;
    }
    .outer button{
        padding: 1.5vw 6vw;
        font-size: 2vw;
    }
}
@media (max-width:425px){
    .headings h3{
        font-size: 6.5vw;
        color: #fff;
        font-family: "Roboto Slab", serif;
    }
    .downicon span{
        left: 8px;
        top: 10px;
        font-size: 6vw;
    }
    .outer button{
        padding: 1.8vw 2vw;
        font-size: 2.8vw;
    }
}
@media (max-width:375px){
    .downicon span{
        left: 9px;
        top: 10px;
        font-size: 6vw;
    }
    .outer button{
        padding: 1.8vw 2vw;
        font-size: 2.9vw;
    }
}
@media (max-width:320px){
    .downicon span{
        left: 10px;
        top: 10px;
        font-size: 7vw;
    }
    .outer button{
        padding: 2vw 2vw;
        font-size: 3.5vw;
    }
}